Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/tamanoSOAP/Tamano.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://item.squirlearnws.mycompany.com/" targetNamespace="http://item.squirlearnws.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTodosTamano" type="tns:listarTodosTamano" />
  <xs:element name="listarTodosTamanoResponse" type="tns:listarTodosTamanoResponse" />
  <xs:element name="obtenerPorIdTamano" type="tns:obtenerPorIdTamano" />
  <xs:element name="obtenerPorIdTamanoResponse" type="tns:obtenerPorIdTamanoResponse" />
  <xs:complexType name="listarTodosTamano">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosTamanoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tamanoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tamanoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tamanoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTamano">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTamanoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tamanoDto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>