Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/incidenciaSOAP/Incidencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://inciNoti.squirlearnws.mycompany.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Incidencia" targetNamespace="http://inciNoti.squirlearnws.mycompany.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SquirlearnWS/Incidencia?xsd=1" namespace="http://inciNoti.squirlearnws.mycompany.com/" />
    </xsd:schema>
  </types>
  <message name="modificarIncidencia">
    <part name="parameters" element="tns:modificarIncidencia" />
  </message>
  <message name="modificarIncidenciaResponse">
    <part name="parameters" element="tns:modificarIncidenciaResponse" />
  </message>
  <message name="obtenerPorIdIncidencia">
    <part name="parameters" element="tns:obtenerPorIdIncidencia" />
  </message>
  <message name="obtenerPorIdIncidenciaResponse">
    <part name="parameters" element="tns:obtenerPorIdIncidenciaResponse" />
  </message>
  <message name="listarTodasIncidencias">
    <part name="parameters" element="tns:listarTodasIncidencias" />
  </message>
  <message name="listarTodasIncidenciasResponse">
    <part name="parameters" element="tns:listarTodasIncidenciasResponse" />
  </message>
  <message name="listarPorResolucionIncidencia">
    <part name="parameters" element="tns:listarPorResolucionIncidencia" />
  </message>
  <message name="listarPorResolucionIncidenciaResponse">
    <part name="parameters" element="tns:listarPorResolucionIncidenciaResponse" />
  </message>
  <message name="insertarIncidencia">
    <part name="parameters" element="tns:insertarIncidencia" />
  </message>
  <message name="insertarIncidenciaResponse">
    <part name="parameters" element="tns:insertarIncidenciaResponse" />
  </message>
  <message name="reporteIncicencias">
    <part name="parameters" element="tns:reporteIncicencias" />
  </message>
  <message name="reporteIncicenciasResponse">
    <part name="parameters" element="tns:reporteIncicenciasResponse" />
  </message>
  <portType name="Incidencia">
    <operation name="modificarIncidencia">
      <input wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/modificarIncidenciaRequest" message="tns:modificarIncidencia" />
      <output wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/modificarIncidenciaResponse" message="tns:modificarIncidenciaResponse" />
    </operation>
    <operation name="obtenerPorIdIncidencia">
      <input wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/obtenerPorIdIncidenciaRequest" message="tns:obtenerPorIdIncidencia" />
      <output wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/obtenerPorIdIncidenciaResponse" message="tns:obtenerPorIdIncidenciaResponse" />
    </operation>
    <operation name="listarTodasIncidencias">
      <input wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/listarTodasIncidenciasRequest" message="tns:listarTodasIncidencias" />
      <output wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/listarTodasIncidenciasResponse" message="tns:listarTodasIncidenciasResponse" />
    </operation>
    <operation name="listarPorResolucionIncidencia">
      <input wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/listarPorResolucionIncidenciaRequest" message="tns:listarPorResolucionIncidencia" />
      <output wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/listarPorResolucionIncidenciaResponse" message="tns:listarPorResolucionIncidenciaResponse" />
    </operation>
    <operation name="insertarIncidencia">
      <input wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/insertarIncidenciaRequest" message="tns:insertarIncidencia" />
      <output wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/insertarIncidenciaResponse" message="tns:insertarIncidenciaResponse" />
    </operation>
    <operation name="reporteIncicencias">
      <input wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/reporteIncicenciasRequest" message="tns:reporteIncicencias" />
      <output wsam:Action="http://inciNoti.squirlearnws.mycompany.com/Incidencia/reporteIncicenciasResponse" message="tns:reporteIncicenciasResponse" />
    </operation>
  </portType>
  <binding name="IncidenciaPortBinding" type="tns:Incidencia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarIncidencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdIncidencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasIncidencias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorResolucionIncidencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarIncidencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reporteIncicencias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Incidencia">
    <port name="IncidenciaPort" binding="tns:IncidenciaPortBinding">
      <soap:address location="http://localhost:8080/SquirlearnWS/Incidencia" />
    </port>
  </service>
</definitions>