Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/incidenciaSOAP/Incidencia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://inciNoti.squirlearnws.mycompany.com/" targetNamespace="http://inciNoti.squirlearnws.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarIncidencia" type="tns:insertarIncidencia" />
  <xs:element name="insertarIncidenciaResponse" type="tns:insertarIncidenciaResponse" />
  <xs:element name="listarPorResolucionIncidencia" type="tns:listarPorResolucionIncidencia" />
  <xs:element name="listarPorResolucionIncidenciaResponse" type="tns:listarPorResolucionIncidenciaResponse" />
  <xs:element name="listarTodasIncidencias" type="tns:listarTodasIncidencias" />
  <xs:element name="listarTodasIncidenciasResponse" type="tns:listarTodasIncidenciasResponse" />
  <xs:element name="modificarIncidencia" type="tns:modificarIncidencia" />
  <xs:element name="modificarIncidenciaResponse" type="tns:modificarIncidenciaResponse" />
  <xs:element name="obtenerPorIdIncidencia" type="tns:obtenerPorIdIncidencia" />
  <xs:element name="obtenerPorIdIncidenciaResponse" type="tns:obtenerPorIdIncidenciaResponse" />
  <xs:element name="reporteIncicencias" type="tns:reporteIncicencias" />
  <xs:element name="reporteIncicenciasResponse" type="tns:reporteIncicenciasResponse" />
  <xs:complexType name="listarPorResolucionIncidencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="resuelto" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorResolucionIncidenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:incidenciaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="incidenciaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="incidenciaId" type="xs:int" />
      <xs:element minOccurs="0" name="motivo" type="tns:motivoDto" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDto" />
      <xs:element minOccurs="0" name="respuesta" type="xs:string" />
      <xs:element minOccurs="0" name="resuelto" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioSolucion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="motivoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="motivoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPersona" type="tns:estadoPersonaDto" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rolPersona" nillable="true" type="tns:rolPersonaDto" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaActividad" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoPersonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoPersonaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolPersonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rolPersonaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteIncicencias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reporteIncicenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarIncidencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="respuesta" type="xs:string" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="motivoId" type="xs:int" />
      <xs:element minOccurs="0" name="resuelto" type="xs:int" />
      <xs:element minOccurs="0" name="solucionadorId" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarIncidenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdIncidencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdIncidenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:incidenciaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarIncidencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="respuesta" type="xs:string" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="motivoId" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioSolucion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarIncidenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasIncidencias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasIncidenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:incidenciaDto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>