Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/comprobanteSOAP/Comprobante.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://comprobante.squirlearnws.mycompany.com/" targetNamespace="http://comprobante.squirlearnws.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarComprobante" type="tns:insertarComprobante" />
  <xs:element name="insertarComprobanteResponse" type="tns:insertarComprobanteResponse" />
  <xs:element name="listarPorDuenoComprobante" type="tns:listarPorDuenoComprobante" />
  <xs:element name="listarPorDuenoComprobanteResponse" type="tns:listarPorDuenoComprobanteResponse" />
  <xs:element name="obtenerPorIdComprobante" type="tns:obtenerPorIdComprobante" />
  <xs:element name="obtenerPorIdComprobanteResponse" type="tns:obtenerPorIdComprobanteResponse" />
  <xs:complexType name="listarPorDuenoComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorDuenoComprobanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="transaccionId" type="xs:string" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="formaPagoId" type="xs:int" />
      <xs:element minOccurs="0" name="monedaId" type="xs:int" />
      <xs:element minOccurs="0" name="impuesto" type="xs:double" />
      <xs:element minOccurs="0" name="fechaEmision" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarComprobanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdComprobanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:comprobanteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobanteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobanteId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detallesComprobante" nillable="true" type="tns:detalleComprobanteDto" />
      <xs:element minOccurs="0" name="fechaEmision" type="xs:string" />
      <xs:element minOccurs="0" name="formaPago" type="tns:formaPagoDto" />
      <xs:element minOccurs="0" name="impuesto" type="xs:double" />
      <xs:element minOccurs="0" name="moneda" type="tns:monedaPagoDto" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDto" />
      <xs:element minOccurs="0" name="transaccion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleComprobanteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="alquiler" type="tns:alquilerDto" />
      <xs:element minOccurs="0" name="comprobante" type="tns:comprobanteDto" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="detalleComId" type="xs:int" />
      <xs:element minOccurs="0" name="item" type="tns:itemDto" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alquilerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="alquilerId" type="xs:int" />
      <xs:element minOccurs="0" name="devuelto" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="item" type="tns:itemDto" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDto" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaDto" />
      <xs:element minOccurs="0" name="color" type="tns:colorDto" />
      <xs:element minOccurs="0" name="condicion" type="tns:condicionDto" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="esVenta" type="xs:boolean" />
      <xs:element minOccurs="0" name="estadoItem" type="tns:estadoItemDto" />
      <xs:element minOccurs="0" name="formato" type="tns:formatoDto" />
      <xs:element minOccurs="0" name="itemId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="subcategoria" type="tns:subcategoriaDto" />
      <xs:element minOccurs="0" name="tamano" type="tns:tamanoDto" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="colorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="colorId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="condicionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="condicionId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoItemId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="formatoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="formatoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subcategoriaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaDto" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="subcategoriaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tamanoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tamanoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPersona" type="tns:estadoPersonaDto" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rolPersona" nillable="true" type="tns:rolPersonaDto" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaActividad" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoPersonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoPersonaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolPersonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rolPersonaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="formaPagoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="formaPagoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="monedaPagoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="monedaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>