Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/notificacionSOAP/Notificacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://inciNoti.squirlearnws.mycompany.com/" targetNamespace="http://inciNoti.squirlearnws.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarNotificacion" type="tns:insertarNotificacion" />
  <xs:element name="insertarNotificacionResponse" type="tns:insertarNotificacionResponse" />
  <xs:element name="listarPorPersonaNotificacion" type="tns:listarPorPersonaNotificacion" />
  <xs:element name="listarPorPersonaNotificacionResponse" type="tns:listarPorPersonaNotificacionResponse" />
  <xs:element name="obtenerPorIdNotificacion" type="tns:obtenerPorIdNotificacion" />
  <xs:element name="obtenerPorIdNotificacionResponse" type="tns:obtenerPorIdNotificacionResponse" />
  <xs:complexType name="insertarNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNotificacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorPersonaNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="pagina" type="xs:int" />
      <xs:element minOccurs="0" name="registrosPorPagina" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorPersonaNotificacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:listadoNotificacionesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listadoNotificacionesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lista" nillable="true" type="tns:notificacionDto" />
      <xs:element minOccurs="0" name="totalRegistros" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notificacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element minOccurs="0" name="notificacionId" type="xs:int" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPersona" type="tns:estadoPersonaDto" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rolPersona" nillable="true" type="tns:rolPersonaDto" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaActividad" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoPersonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoPersonaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolPersonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rolPersonaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdNotificacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:notificacionDto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>