Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/colorSOAP/Color.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://item.squirlearnws.mycompany.com/" targetNamespace="http://item.squirlearnws.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTodosColor" type="tns:listarTodosColor" />
  <xs:element name="listarTodosColorResponse" type="tns:listarTodosColorResponse" />
  <xs:element name="obtenerPorIdColor" type="tns:obtenerPorIdColor" />
  <xs:element name="obtenerPorIdColorResponse" type="tns:obtenerPorIdColorResponse" />
  <xs:complexType name="listarTodosColor">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosColorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:colorDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="colorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="colorId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdColorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:colorDto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>