Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/motivoSOAP/Motivo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://inciNoti.squirlearnws.mycompany.com/" targetNamespace="http://inciNoti.squirlearnws.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTodosMotivo" type="tns:listarTodosMotivo" />
  <xs:element name="listarTodosMotivoResponse" type="tns:listarTodosMotivoResponse" />
  <xs:element name="obtenerPorIdMotivo" type="tns:obtenerPorIdMotivo" />
  <xs:element name="obtenerPorIdMotivoResponse" type="tns:obtenerPorIdMotivoResponse" />
  <xs:complexType name="listarTodosMotivo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosMotivoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdMotivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdMotivoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:motivoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="motivoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="motivoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>