Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/alquilerSOAP/Alquiler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://alquiler.squirlearnws.mycompany.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Alquiler" targetNamespace="http://alquiler.squirlearnws.mycompany.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SquirlearnWS/Alquiler?xsd=1" namespace="http://alquiler.squirlearnws.mycompany.com/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIdAlquiler">
    <part name="parameters" element="tns:obtenerPorIdAlquiler" />
  </message>
  <message name="obtenerPorIdAlquilerResponse">
    <part name="parameters" element="tns:obtenerPorIdAlquilerResponse" />
  </message>
  <message name="listarPorDuenoAlquiler">
    <part name="parameters" element="tns:listarPorDuenoAlquiler" />
  </message>
  <message name="listarPorDuenoAlquilerResponse">
    <part name="parameters" element="tns:listarPorDuenoAlquilerResponse" />
  </message>
  <message name="modificarAlquiler">
    <part name="parameters" element="tns:modificarAlquiler" />
  </message>
  <message name="modificarAlquilerResponse">
    <part name="parameters" element="tns:modificarAlquilerResponse" />
  </message>
  <message name="insertarAlquiler">
    <part name="parameters" element="tns:insertarAlquiler" />
  </message>
  <message name="insertarAlquilerResponse">
    <part name="parameters" element="tns:insertarAlquilerResponse" />
  </message>
  <portType name="Alquiler">
    <operation name="obtenerPorIdAlquiler">
      <input wsam:Action="http://alquiler.squirlearnws.mycompany.com/Alquiler/obtenerPorIdAlquilerRequest" message="tns:obtenerPorIdAlquiler" />
      <output wsam:Action="http://alquiler.squirlearnws.mycompany.com/Alquiler/obtenerPorIdAlquilerResponse" message="tns:obtenerPorIdAlquilerResponse" />
    </operation>
    <operation name="listarPorDuenoAlquiler">
      <input wsam:Action="http://alquiler.squirlearnws.mycompany.com/Alquiler/listarPorDuenoAlquilerRequest" message="tns:listarPorDuenoAlquiler" />
      <output wsam:Action="http://alquiler.squirlearnws.mycompany.com/Alquiler/listarPorDuenoAlquilerResponse" message="tns:listarPorDuenoAlquilerResponse" />
    </operation>
    <operation name="modificarAlquiler">
      <input wsam:Action="http://alquiler.squirlearnws.mycompany.com/Alquiler/modificarAlquilerRequest" message="tns:modificarAlquiler" />
      <output wsam:Action="http://alquiler.squirlearnws.mycompany.com/Alquiler/modificarAlquilerResponse" message="tns:modificarAlquilerResponse" />
    </operation>
    <operation name="insertarAlquiler">
      <input wsam:Action="http://alquiler.squirlearnws.mycompany.com/Alquiler/insertarAlquilerRequest" message="tns:insertarAlquiler" />
      <output wsam:Action="http://alquiler.squirlearnws.mycompany.com/Alquiler/insertarAlquilerResponse" message="tns:insertarAlquilerResponse" />
    </operation>
  </portType>
  <binding name="AlquilerPortBinding" type="tns:Alquiler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIdAlquiler">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorDuenoAlquiler">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAlquiler">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlquiler">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Alquiler">
    <port name="AlquilerPort" binding="tns:AlquilerPortBinding">
      <soap:address location="http://localhost:8080/SquirlearnWS/Alquiler" />
    </port>
  </service>
</definitions>