Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/publicacionSOAP/Publicacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://publicacion.squirlearnws.mycompany.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Publicacion" targetNamespace="http://publicacion.squirlearnws.mycompany.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SquirlearnWS/Publicacion?xsd=1" namespace="http://publicacion.squirlearnws.mycompany.com/" />
    </xsd:schema>
  </types>
  <message name="modificarPublicacion">
    <part name="parameters" element="tns:modificarPublicacion" />
  </message>
  <message name="modificarPublicacionResponse">
    <part name="parameters" element="tns:modificarPublicacionResponse" />
  </message>
  <message name="obtenerPorIdCompleto">
    <part name="parameters" element="tns:obtenerPorIdCompleto" />
  </message>
  <message name="obtenerPorIdCompletoResponse">
    <part name="parameters" element="tns:obtenerPorIdCompletoResponse" />
  </message>
  <message name="listarPorEstadoPublicacion">
    <part name="parameters" element="tns:listarPorEstadoPublicacion" />
  </message>
  <message name="listarPorEstadoPublicacionResponse">
    <part name="parameters" element="tns:listarPorEstadoPublicacionResponse" />
  </message>
  <message name="obtenerPorIdPublicacion">
    <part name="parameters" element="tns:obtenerPorIdPublicacion" />
  </message>
  <message name="obtenerPorIdPublicacionResponse">
    <part name="parameters" element="tns:obtenerPorIdPublicacionResponse" />
  </message>
  <message name="listarPorDuenoPublicacion">
    <part name="parameters" element="tns:listarPorDuenoPublicacion" />
  </message>
  <message name="listarPorDuenoPublicacionResponse">
    <part name="parameters" element="tns:listarPorDuenoPublicacionResponse" />
  </message>
  <message name="cambiarEstadoPublicacion">
    <part name="parameters" element="tns:cambiarEstadoPublicacion" />
  </message>
  <message name="cambiarEstadoPublicacionResponse">
    <part name="parameters" element="tns:cambiarEstadoPublicacionResponse" />
  </message>
  <message name="obtenerListaPublicacionGestion">
    <part name="parameters" element="tns:obtenerListaPublicacionGestion" />
  </message>
  <message name="obtenerListaPublicacionGestionResponse">
    <part name="parameters" element="tns:obtenerListaPublicacionGestionResponse" />
  </message>
  <message name="listarPorFiltrosPublicacion">
    <part name="parameters" element="tns:listarPorFiltrosPublicacion" />
  </message>
  <message name="listarPorFiltrosPublicacionResponse">
    <part name="parameters" element="tns:listarPorFiltrosPublicacionResponse" />
  </message>
  <message name="insertarPublicacion">
    <part name="parameters" element="tns:insertarPublicacion" />
  </message>
  <message name="insertarPublicacionResponse">
    <part name="parameters" element="tns:insertarPublicacionResponse" />
  </message>
  <portType name="Publicacion">
    <operation name="modificarPublicacion">
      <input wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/modificarPublicacionRequest" message="tns:modificarPublicacion" />
      <output wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/modificarPublicacionResponse" message="tns:modificarPublicacionResponse" />
    </operation>
    <operation name="obtenerPorIdCompleto">
      <input wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/obtenerPorIdCompletoRequest" message="tns:obtenerPorIdCompleto" />
      <output wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/obtenerPorIdCompletoResponse" message="tns:obtenerPorIdCompletoResponse" />
    </operation>
    <operation name="listarPorEstadoPublicacion">
      <input wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/listarPorEstadoPublicacionRequest" message="tns:listarPorEstadoPublicacion" />
      <output wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/listarPorEstadoPublicacionResponse" message="tns:listarPorEstadoPublicacionResponse" />
    </operation>
    <operation name="obtenerPorIdPublicacion">
      <input wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/obtenerPorIdPublicacionRequest" message="tns:obtenerPorIdPublicacion" />
      <output wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/obtenerPorIdPublicacionResponse" message="tns:obtenerPorIdPublicacionResponse" />
    </operation>
    <operation name="listarPorDuenoPublicacion">
      <input wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/listarPorDuenoPublicacionRequest" message="tns:listarPorDuenoPublicacion" />
      <output wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/listarPorDuenoPublicacionResponse" message="tns:listarPorDuenoPublicacionResponse" />
    </operation>
    <operation name="cambiarEstadoPublicacion">
      <input wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/cambiarEstadoPublicacionRequest" message="tns:cambiarEstadoPublicacion" />
      <output wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/cambiarEstadoPublicacionResponse" message="tns:cambiarEstadoPublicacionResponse" />
    </operation>
    <operation name="obtenerListaPublicacionGestion">
      <input wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/obtenerListaPublicacionGestionRequest" message="tns:obtenerListaPublicacionGestion" />
      <output wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/obtenerListaPublicacionGestionResponse" message="tns:obtenerListaPublicacionGestionResponse" />
    </operation>
    <operation name="listarPorFiltrosPublicacion">
      <input wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/listarPorFiltrosPublicacionRequest" message="tns:listarPorFiltrosPublicacion" />
      <output wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/listarPorFiltrosPublicacionResponse" message="tns:listarPorFiltrosPublicacionResponse" />
    </operation>
    <operation name="insertarPublicacion">
      <input wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/insertarPublicacionRequest" message="tns:insertarPublicacion" />
      <output wsam:Action="http://publicacion.squirlearnws.mycompany.com/Publicacion/insertarPublicacionResponse" message="tns:insertarPublicacionResponse" />
    </operation>
  </portType>
  <binding name="PublicacionPortBinding" type="tns:Publicacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdCompleto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorEstadoPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorDuenoPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cambiarEstadoPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerListaPublicacionGestion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorFiltrosPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPublicacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Publicacion">
    <port name="PublicacionPort" binding="tns:PublicacionPortBinding">
      <soap:address location="http://localhost:8080/SquirlearnWS/Publicacion" />
    </port>
  </service>
</definitions>