Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/categoriaSOAP/Categoria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://item.squirlearnws.mycompany.com/" targetNamespace="http://item.squirlearnws.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTodosCategoria" type="tns:listarTodosCategoria" />
  <xs:element name="listarTodosCategoriaResponse" type="tns:listarTodosCategoriaResponse" />
  <xs:element name="obtenerPorIdCategoria" type="tns:obtenerPorIdCategoria" />
  <xs:element name="obtenerPorIdCategoriaResponse" type="tns:obtenerPorIdCategoriaResponse" />
  <xs:complexType name="listarTodosCategoria">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoriaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:categoriaDto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>