Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/personaSOAP/Persona.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://persona.squirlearnws.mycompany.com/" targetNamespace="http://persona.squirlearnws.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ParseException" type="tns:ParseException" />
  <xs:element name="insertarPersona" type="tns:insertarPersona" />
  <xs:element name="insertarPersonaResponse" type="tns:insertarPersonaResponse" />
  <xs:element name="logInPersona" type="tns:logInPersona" />
  <xs:element name="logInPersonaResponse" type="tns:logInPersonaResponse" />
  <xs:element name="modificarPersona" type="tns:modificarPersona" />
  <xs:element name="modificarPersonaResponse" type="tns:modificarPersonaResponse" />
  <xs:element name="obtenerPorCodigoPersona" type="tns:obtenerPorCodigoPersona" />
  <xs:element name="obtenerPorCodigoPersonaResponse" type="tns:obtenerPorCodigoPersonaResponse" />
  <xs:element name="obtenerPorIdPersona" type="tns:obtenerPorIdPersona" />
  <xs:element name="obtenerPorIdPersonaResponse" type="tns:obtenerPorIdPersonaResponse" />
  <xs:element name="reporteListadoVentasVendedores" type="tns:reporteListadoVentasVendedores" />
  <xs:element name="reporteListadoVentasVendedoresResponse" type="tns:reporteListadoVentasVendedoresResponse" />
  <xs:element name="reporteVentasAlquiler" type="tns:reporteVentasAlquiler" />
  <xs:element name="reporteVentasAlquilerResponse" type="tns:reporteVentasAlquilerResponse" />
  <xs:complexType name="insertarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaActividad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteVentasAlquiler">
    <xs:sequence>
      <xs:element minOccurs="0" name="persona_id" type="xs:int" />
      <xs:element minOccurs="0" name="_fechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="_fechaFin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteVentasAlquilerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element name="errorOffset" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorCodigoPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorCodigoPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:personaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPersona" type="tns:estadoPersonaDto" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rolPersona" nillable="true" type="tns:rolPersonaDto" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaActividad" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoPersonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoPersonaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolPersonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rolPersonaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteListadoVentasVendedores">
    <xs:sequence>
      <xs:element minOccurs="0" name="_fechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="_fechaFin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteListadoVentasVendedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logInPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logInPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:personaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:personaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="estadoId" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaActividad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>