Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/itemSOAP/Item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://item.squirlearnws.mycompany.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Item" targetNamespace="http://item.squirlearnws.mycompany.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SquirlearnWS/Item?xsd=1" namespace="http://item.squirlearnws.mycompany.com/" />
    </xsd:schema>
  </types>
  <message name="cambiarEstadoItem">
    <part name="parameters" element="tns:cambiarEstadoItem" />
  </message>
  <message name="cambiarEstadoItemResponse">
    <part name="parameters" element="tns:cambiarEstadoItemResponse" />
  </message>
  <message name="modificarItem">
    <part name="parameters" element="tns:modificarItem" />
  </message>
  <message name="modificarItemResponse">
    <part name="parameters" element="tns:modificarItemResponse" />
  </message>
  <message name="insertarItem">
    <part name="parameters" element="tns:insertarItem" />
  </message>
  <message name="insertarItemResponse">
    <part name="parameters" element="tns:insertarItemResponse" />
  </message>
  <message name="obtenerPorIdItem">
    <part name="parameters" element="tns:obtenerPorIdItem" />
  </message>
  <message name="obtenerPorIdItemResponse">
    <part name="parameters" element="tns:obtenerPorIdItemResponse" />
  </message>
  <portType name="Item">
    <operation name="cambiarEstadoItem">
      <input wsam:Action="http://item.squirlearnws.mycompany.com/Item/cambiarEstadoItemRequest" message="tns:cambiarEstadoItem" />
      <output wsam:Action="http://item.squirlearnws.mycompany.com/Item/cambiarEstadoItemResponse" message="tns:cambiarEstadoItemResponse" />
    </operation>
    <operation name="modificarItem">
      <input wsam:Action="http://item.squirlearnws.mycompany.com/Item/modificarItemRequest" message="tns:modificarItem" />
      <output wsam:Action="http://item.squirlearnws.mycompany.com/Item/modificarItemResponse" message="tns:modificarItemResponse" />
    </operation>
    <operation name="insertarItem">
      <input wsam:Action="http://item.squirlearnws.mycompany.com/Item/insertarItemRequest" message="tns:insertarItem" />
      <output wsam:Action="http://item.squirlearnws.mycompany.com/Item/insertarItemResponse" message="tns:insertarItemResponse" />
    </operation>
    <operation name="obtenerPorIdItem">
      <input wsam:Action="http://item.squirlearnws.mycompany.com/Item/obtenerPorIdItemRequest" message="tns:obtenerPorIdItem" />
      <output wsam:Action="http://item.squirlearnws.mycompany.com/Item/obtenerPorIdItemResponse" message="tns:obtenerPorIdItemResponse" />
    </operation>
  </portType>
  <binding name="ItemPortBinding" type="tns:Item">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="cambiarEstadoItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Item">
    <port name="ItemPort" binding="tns:ItemPortBinding">
      <soap:address location="http://localhost:8080/SquirlearnWS/Item" />
    </port>
  </service>
</definitions>