Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/estadoPublicacionSOAP/EstadoPublicacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://publicacion.squirlearnws.mycompany.com/" targetNamespace="http://publicacion.squirlearnws.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTodosEstadoPublicacion" type="tns:listarTodosEstadoPublicacion" />
  <xs:element name="listarTodosEstadoPublicacionResponse" type="tns:listarTodosEstadoPublicacionResponse" />
  <xs:element name="obtenerPorIdEstadoPublicacion" type="tns:obtenerPorIdEstadoPublicacion" />
  <xs:element name="obtenerPorIdEstadoPublicacionResponse" type="tns:obtenerPorIdEstadoPublicacionResponse" />
  <xs:complexType name="obtenerPorIdEstadoPublicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdEstadoPublicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:estadoPublicacionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoPublicacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoPublicacionId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosEstadoPublicacion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosEstadoPublicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:estadoPublicacionDto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>