Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/subcategoriaSOAP/Subcategoria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://item.squirlearnws.mycompany.com/" targetNamespace="http://item.squirlearnws.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarPorCategoriaSubcategoria" type="tns:listarPorCategoriaSubcategoria" />
  <xs:element name="listarPorCategoriaSubcategoriaResponse" type="tns:listarPorCategoriaSubcategoriaResponse" />
  <xs:element name="listarTodosSubcategoria" type="tns:listarTodosSubcategoria" />
  <xs:element name="listarTodosSubcategoriaResponse" type="tns:listarTodosSubcategoriaResponse" />
  <xs:element name="obtenerPorIdSubcategoria" type="tns:obtenerPorIdSubcategoria" />
  <xs:element name="obtenerPorIdSubcategoriaResponse" type="tns:obtenerPorIdSubcategoriaResponse" />
  <xs:complexType name="listarTodosSubcategoria">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosSubcategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:subcategoriaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subcategoriaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaDto" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="subcategoriaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCategoriaSubcategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCategoriaSubcategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:subcategoriaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdSubcategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdSubcategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:subcategoriaDto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>