Squirlearn/SquirlearnWA/SquirlearnWA/Connected Services/subcategoriaSOAP/Subcategoria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://item.squirlearnws.mycompany.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Subcategoria" targetNamespace="http://item.squirlearnws.mycompany.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SquirlearnWS/Subcategoria?xsd=1" namespace="http://item.squirlearnws.mycompany.com/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIdSubcategoria">
    <part name="parameters" element="tns:obtenerPorIdSubcategoria" />
  </message>
  <message name="obtenerPorIdSubcategoriaResponse">
    <part name="parameters" element="tns:obtenerPorIdSubcategoriaResponse" />
  </message>
  <message name="listarTodosSubcategoria">
    <part name="parameters" element="tns:listarTodosSubcategoria" />
  </message>
  <message name="listarTodosSubcategoriaResponse">
    <part name="parameters" element="tns:listarTodosSubcategoriaResponse" />
  </message>
  <message name="listarPorCategoriaSubcategoria">
    <part name="parameters" element="tns:listarPorCategoriaSubcategoria" />
  </message>
  <message name="listarPorCategoriaSubcategoriaResponse">
    <part name="parameters" element="tns:listarPorCategoriaSubcategoriaResponse" />
  </message>
  <portType name="Subcategoria">
    <operation name="obtenerPorIdSubcategoria">
      <input wsam:Action="http://item.squirlearnws.mycompany.com/Subcategoria/obtenerPorIdSubcategoriaRequest" message="tns:obtenerPorIdSubcategoria" />
      <output wsam:Action="http://item.squirlearnws.mycompany.com/Subcategoria/obtenerPorIdSubcategoriaResponse" message="tns:obtenerPorIdSubcategoriaResponse" />
    </operation>
    <operation name="listarTodosSubcategoria">
      <input wsam:Action="http://item.squirlearnws.mycompany.com/Subcategoria/listarTodosSubcategoriaRequest" message="tns:listarTodosSubcategoria" />
      <output wsam:Action="http://item.squirlearnws.mycompany.com/Subcategoria/listarTodosSubcategoriaResponse" message="tns:listarTodosSubcategoriaResponse" />
    </operation>
    <operation name="listarPorCategoriaSubcategoria">
      <input wsam:Action="http://item.squirlearnws.mycompany.com/Subcategoria/listarPorCategoriaSubcategoriaRequest" message="tns:listarPorCategoriaSubcategoria" />
      <output wsam:Action="http://item.squirlearnws.mycompany.com/Subcategoria/listarPorCategoriaSubcategoriaResponse" message="tns:listarPorCategoriaSubcategoriaResponse" />
    </operation>
  </portType>
  <binding name="SubcategoriaPortBinding" type="tns:Subcategoria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIdSubcategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosSubcategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorCategoriaSubcategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Subcategoria">
    <port name="SubcategoriaPort" binding="tns:SubcategoriaPortBinding">
      <soap:address location="http://localhost:8080/SquirlearnWS/Subcategoria" />
    </port>
  </service>
</definitions>